h1,
h2,
h3,
h4,
h5,
h6, th, label, .site-title span {
  font-family: $base-font-family;
}

a,
input,
textarea,
p,
span, table, button {
  font-family: $base-font-family-title;
}

.alert-message {
  background-color: $colour-scores;
  padding: 10px;
  text-align: center;
}

.section-col--category i {
  font-size: 80px;
}

.answers-form label {
  font-size: 20px;
  line-height: 23px;
}

.prev_answer i {
  font-size: 40px;
}

.quiz-container {
  a {
    color: $colour-leaderboard;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
  }
  a:hover {
    color: $colour-home;
    text-decoration: none;
  }
  a.sign-in-register {
    font-size: 1.25rem;
  }
}

.site-title {
  h1 {
    text-shadow: 1px 1px $colour-scores;
  }
  .title-block {
    background: rgba(0,0,0,0.8);
    color: #fff;
    margin: 0;
    padding: 0;
    width:40px;
    display: inline-block;
  }
  .title-block.space {
    margin-left: 20px;
  }
}
