@mixin nav-item($colour, $class) {
  .navbar .nav-item--#{$class} {
    background: $colour;
    border-bottom: 3px solid transparent;
    transition: all .7s ease-in-out;
    &:hover {
      background: linear-gradient(180deg, $colour 0%, lighten($colour,20%) 65%, lighten($colour,30%) 85%);
      border-bottom: 3px solid $colour;
    }
  }
  .navbar .nav-item--#{$class} .nav-link--#{$class} {
    color: set_text_color($colour);
    text-shadow: 1px 1px set_shadow_color($colour);
    transition: all .7s ease-in-out;
    &:hover {
      color: set_text_color($colour);
      text-shadow: 1px 1px set_shadow_color($colour);
    }
  }
}
