$colour-home: #003056;
$colour-signin: #04518C;
$colour-leaderboard: #00A1D9;
$colour-scores: #47D9BF;
$colour-suggestion: #F2D03B;
$colour-contact: #003056;
$colour-postit: rgb(255,215,7);
$colour-postit-dark: darken($colour-postit, 10%) transparent;

$base-font-family: 'Faustina', serif;
$base-font-family-title: 'Merienda', cursive;

$width-name: min-width;
$device-md-width: 768px;
